body {
  background: #111;
  margin: 0;
  min-height: 100vh;
  font-family: monospace;
}

.buddyjs-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  font-family: monospace;
}

.buddyjs-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  letter-spacing: -2px;
  color: #fff;
  font-family: monospace;
}
.buddyjs-title-white {
  color: #fff;
}
.buddyjs-title-yellow {
  color: #FFD600;
}

.buddyjs-subtitle {
  font-size: 1.2rem;
  color: #bbb;
  margin-bottom: 2em;
  font-family:monospace;
  text-align: center;
}

.buddyjs-btn-row {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

.buddyjs-btn {
  background: #222;
  color: #fff;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 0.7em 1.5em;
  font-size: 1rem;
  font-family: monospace;
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
  font-weight: 600;
  outline: none;
}
.buddyjs-btn:hover {
  background: #333;
}
.buddyjs-btn-yellow {
  background: #FFD600;
  color: #111;
  border: 1px solid #FFD600;
}
.buddyjs-btn-yellow:hover {
  background: #fff;
  color: #FFD600;
  border: 1px solid #FFD600;
}
